# dependencies
node_modules/
**/node_modules/

# build outputs
build/
**/build/
target/
**/target/
out/
**/out/
dist/
**/dist/

# Android / Gradle
.gradle/
**/.gradle/
local.properties
*.apk
*.aab

# IDE
.idea/
**/.idea/
*.iml

# zip / temp
*.zip

# OS
.DS_Store
Thumbs.db